[submodule "deps/acpica"]
	path = deps/acpica
	url = git@github.com:biosbits/acpica
	fetchRecurseSubmodules = true
[submodule "deps/fdlibm"]
	path = deps/fdlibm
	url = git@github.com:biosbits/fdlibm
	fetchRecurseSubmodules = true
[submodule "deps/libffi"]
	path = deps/libffi
	url = git@github.com:biosbits/libffi
	fetchRecurseSubmodules = true
[submodule "deps/python"]
	path = deps/python
	url = git@github.com:biosbits/python
	fetchRecurseSubmodules = true
